.App {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

body {
  width: 100%;
  height: 100%;
  background-image: url("./images/pawprint-background.png");
  background-color: rgb(127, 189, 218);
  background-attachment: fixed;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(37, 42, 49);
  position: fixed;
  top: 0px;
  z-index: 998;
}

.siteContentsContainer {
  width: 100%;
  height: 100%;
}

.mainDisplay {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  top: 0px;
}

.dropDownMenuContainer {
  display: none;
}

.siteNameContainer {
  display: flex;
  position: relative;
  left: 7px;
  z-index: 999;
}

.siteName {
  display: flex;
  position: relative;
  z-index: 999;
  font-family: "Baloo", cursive;
  font-size: 54px;
  font-weight: bold;
  letter-spacing: 4px;
  color: rgb(255, 255, 255);
}

.loginLogoutBtnContainer {
  display: flex;
  position: relative;
}

.loginButton {
  cursor: pointer;
  outline: none;
  height: 30px;
  background-color: rgb(47, 255, 47);
  border-radius: 7px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 14px;
}

.loginButton:active {
  box-shadow: #e0e0e0 1px 1px 0;
}

.logoutButton {
  cursor: pointer;
  outline: none;
  height: 30px;
  background-color: rgb(255, 0, 0);
  border-radius: 7px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 14px;
}

.logoutButton:active {
  box-shadow: #e0e0e0 1px 1px 0;
}

.menu {
  display: flex;
  position: relative;
  align-items: center;
}

.navLinks {
  font-family: sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 7px;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}

.active {
  color: rgb(49, 145, 255);
  text-shadow: -0.5px 0.5px 1.5px rgb(255, 255, 255),
    1px 1px 1px rgba(0, 0, 0, 0.5);
}

.homepageContainer {
  width: 100vw;
  height: calc(100vh - 48px);
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 48px;
}

.welcomeBannerContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

svg {
  width: 500px;
  height: 500px;
  display: flex;
  position: absolute;
  z-index: 990;
  justify-content: center;
  overflow: visible;
}

path {
  width: 100%;
  fill: transparent;
  overflow: visible;
  z-index: 999;
  display: flex;
  position: relative;
  justify-content: center;
}

.curvedText {
  font-size: 42.75px;
  overflow: visible;
  text-align: center;
}

.gifContainer {
  height: 500px;
  width: 500px;
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
}

.dogGif {
  width: 100%;
  height: auto;
  border-radius: 50%;
  display: flex;
  position: relative;
  box-shadow: #7fbdda 0px 0px 5px, #7fbdda 0px 0px 10px, #7fbdda 0px 0px 15px,
    #7fbdda 0px 0px 20px, #7fbdda 0px 0px 30px, #7fbdda 0px 0px 40px,
    #7fbdda 0px 0px 50px, #7fbdda 0px 0px 75px;
}

.adoptionPage {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 60px;
  padding-bottom: 15px;
}

.modalBackdrop {
  display: flex;
  position: absolute;
  top: -170px;
  bottom: -65px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.555);
  z-index: 990;
}

.animalProfileModal {
  display: flex;
  position: fixed;
  top: 12.5%;
  left: 12.5%;
  z-index: 999;
}

.animalModalBtn {
  cursor: pointer;
  outline: none;
}

.filterMenuContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.filterContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  font-family: "Muli", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  color: black;
  text-shadow: 1.25px 1.25px 0 #ffffff, 1.25px -1.25px 0 #ffffff,
    -1.25px 1.25px 0 #ffffff, -1.25px -1.25px 0 #ffffff, 1.25px 0px 0 #ffffff,
    0px 1.25px 0 #ffffff, -1.25px 0px 0 #ffffff, 0px -1.25px 0 #ffffff;
  margin: 15px;
  z-index: 990;
}

.filterBtnContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.adoptFilterBtn {
  display: flex;
  position: relative;
  justify-content: center;
  cursor: pointer;
  height: 35px;
  width: 105px;
  background-color: rgb(26, 124, 236);
  border-radius: 7px;
  margin-left: 15px;
  margin-top: 25px;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0.75px 0.75px 0 #ffffff, 0.75px -0.75px 0 #ffffff,
    -0.75px 0.75px 0 #ffffff, -0.75px -0.75px 0 #ffffff, 0.75px 0px 0 #ffffff,
    0px 0.75px 0 #ffffff, -0.75px 0px 0 #ffffff, 0px -0.75px 0 #ffffff;
}

.adoptFilterBtn:active {
  box-shadow: #e0e0e0 1px 1px 0;
}

.filterP {
  display: flex;
  position: relative;
  justify-content: center;
  font-family: "Muli", sans-serif;
  margin-bottom: 5px;
}

.dropDownFilter {
  display: flex;
  position: relative;
  width: 200px;
  height: 36px;
  cursor: pointer;
  font-family: "Muli", sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  background-color: white;
  border-radius: 5px;
  color: black;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  z-index: 990;
  outline: none;
  /* appearance: none; */
}

.filterOption1 {
  cursor: pointer;
  display: flex;
  position: relative;
  width: 200px;
  height: 36px;
}

.adoptBtnsContainer1 {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.adoptBtnsContainer2 {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.adoptBtns {
  z-index: 995;
  cursor: pointer;
  outline: none;
  height: 35px;
  width: 105px;
  background-color: rgb(26, 124, 236);
  border-radius: 7px;
  margin-left: 75px;
  margin-right: 75px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0.75px 0.75px 0 #ffffff, 0.75px -0.75px 0 #ffffff,
    -0.75px 0.75px 0 #ffffff, -0.75px -0.75px 0 #ffffff, 0.75px 0px 0 #ffffff,
    0px 0.75px 0 #ffffff, -0.75px 0px 0 #ffffff, 0px -0.75px 0 #ffffff;
}

.adoptBtns:active {
  box-shadow: #e0e0e0 1px 1px 0;
}

.adoptBtns:disabled {
  background-color: rgb(68, 68, 68);
  color: rgb(68, 68, 68);
}

.animalsContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
}

.animalProfileLink {
  text-decoration: none;
}

.singleAnimalContainer {
  background-color: #4f8edb;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  margin-top: 15px;
  box-shadow: #7fbdda 0px 0px 3px, #7fbdda 0px 0px 8px, #7fbdda 0px 0px 13px,
    #7fbdda 0px 0px 18px, #7fbdda 0px 0px 28px, #7fbdda 0px 0px 38px,
    #7fbdda 0px 0px 48px, #7fbdda 0px 0px 73px;
}

.animalImageContainer {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.miniAnimalImage {
  width: 450px;
  min-height: 450px;
  max-height: 450px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.animalInfoContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.miniInfo1 {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.miniInfo2 {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.miniAnimalInfo1 {
  font-family: "Muli", sans-serif;
  font-size: 25px;
  text-align: center;
  letter-spacing: 1px;
  color: black;
}

.miniAnimalInfo2 {
  font-family: "Muli", sans-serif;
  font-size: 25px;
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 1px;
  color: black;
}

.animalProfileContainer {
  max-height: 90vh;
  top: 60px;
  background-color: #4f8edb;
  border-radius: 15px;
  position: relative;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
}

.animalProfilePicContainer {
  min-height: 500px;
  max-height: 600px;
  display: flex;
  justify-items: center;
}

.profileAnimalImage {
  width: 500px;
  min-height: 500px;
  max-height: 600px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.animalProfileInfoContainer {
  font-family: "Muli", sans-serif;
  font-size: 25px;
  text-align: left;
  letter-spacing: 1px;
  color: black;
  padding: 10px;
}

.animalProfileInfoContainer > p {
  margin-top: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

.animalProfileShelterContainer {
  font-family: "Muli", sans-serif;
  font-size: 25px;
  text-align: left;
  letter-spacing: 1px;
  color: black;
}

.animalProfileShelterContainer > p {
  margin-top: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

.shelterAddressContainer {
  font-family: "Muli", sans-serif;
  font-size: 25px;
  text-align: left;
  letter-spacing: 1px;
  color: black;
}

.shelterAddressContainer > p {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.donationFormContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  top: 60px;
  padding-bottom: 15px;
}

.donateP1 {
  display: flex;
  position: relative;
  font-family: "Muli", sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  letter-spacing: 1.75px;
  color: black;
  text-shadow: 1.25px 1.25px 0 #ffffff, 1.25px -1.25px 0 #ffffff,
    -1.25px 1.25px 0 #ffffff, -1.25px -1.25px 0 #ffffff, 1.25px 0px 0 #ffffff,
    0px 1.25px 0 #ffffff, -1.25px 0px 0 #ffffff, 0px -1.25px 0 #ffffff;
  margin-bottom: 4px;
  z-index: 997;
}

.donateP2 {
  display: flex;
  position: relative;
  font-family: "Muli", sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  letter-spacing: 1.75px;
  color: black;
  text-shadow: 1.25px 1.25px 0 #ffffff, 1.25px -1.25px 0 #ffffff,
    -1.25px 1.25px 0 #ffffff, -1.25px -1.25px 0 #ffffff, 1.25px 0px 0 #ffffff,
    0px 1.25px 0 #ffffff, -1.25px 0px 0 #ffffff, 0px -1.25px 0 #ffffff;
  margin-bottom: 8px;
  z-index: 997;
}

.donateInput {
  cursor: text;
  outline: none;
  display: flex;
  position: relative;
  width: 600px;
  font-family: "Muli", sans-serif;
  font-size: 18px;
  color: black;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: #7fbdda 0px 0px 5px, #7fbdda 0px 0px 10px, #7fbdda 0px 0px 15px,
    #7fbdda 0px 0px 20px, #7fbdda 0px 0px 30px, #7fbdda 0px 0px 40px,
    #7fbdda 0px 0px 50px, #7fbdda 0px 0px 75px;
  z-index: 990;
}

.donateInputMessage {
  cursor: text;
  outline: none;
  display: flex;
  position: relative;
  width: 600px;
  height: 175px;
  font-family: "Muli", sans-serif;
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
  border-radius: 10px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
  box-shadow: #7fbdda 0px 0px 5px, #7fbdda 0px 0px 10px, #7fbdda 0px 0px 15px,
    #7fbdda 0px 0px 20px, #7fbdda 0px 0px 30px, #7fbdda 0px 0px 40px,
    #7fbdda 0px 0px 50px, #7fbdda 0px 0px 75px;
  z-index: 990;
}

.donationContainer {
  display: flex;
  position: relative;
  z-index: 995;
  margin: 0 auto;
}

.warningTextContainer {
  width: 600px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(160, 160, 160);
  margin-top: 20px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 3px 5px 2px #464646;
}

.warningText1 {
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;
  color: rgb(219, 0, 0);
  font-family: Arial;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
  margin: 5px;
  text-shadow: #e0e0e0 1px 1px 0;
}

.warningText2 {
  display: flex;
  position: relative;
  justify-content: left;
  text-align: left;
  color: black;
  font-family: Arial;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
  margin: 5px;
}

.contactFormContainer {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  top: 60px;
  padding-bottom: 15px;
}

.contactP1 {
  display: flex;
  position: relative;
  font-family: "Muli", sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  letter-spacing: 1.75px;
  color: black;
  text-shadow: 1.25px 1.25px 0 #ffffff, 1.25px -1.25px 0 #ffffff,
    -1.25px 1.25px 0 #ffffff, -1.25px -1.25px 0 #ffffff, 1.25px 0px 0 #ffffff,
    0px 1.25px 0 #ffffff, -1.25px 0px 0 #ffffff, 0px -1.25px 0 #ffffff;
  margin-bottom: 4px;
  z-index: 997;
}

.contactP2 {
  display: flex;
  position: relative;
  font-family: "Muli", sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  letter-spacing: 1.75px;
  color: black;
  text-shadow: 1.25px 1.25px 0 #ffffff, 1.25px -1.25px 0 #ffffff,
    -1.25px 1.25px 0 #ffffff, -1.25px -1.25px 0 #ffffff, 1.25px 0px 0 #ffffff,
    0px 1.25px 0 #ffffff, -1.25px 0px 0 #ffffff, 0px -1.25px 0 #ffffff;
  margin-bottom: 8px;
  z-index: 997;
}

.contactInput {
  cursor: text;
  outline: none;
  display: flex;
  position: relative;
  width: 600px;
  font-family: "Muli", sans-serif;
  font-size: 18px;
  color: black;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: #7fbdda 0px 0px 5px, #7fbdda 0px 0px 10px, #7fbdda 0px 0px 15px,
    #7fbdda 0px 0px 20px, #7fbdda 0px 0px 30px, #7fbdda 0px 0px 40px,
    #7fbdda 0px 0px 50px, #7fbdda 0px 0px 75px;
  z-index: 990;
}

.contactInputSubject {
  cursor: text;
  outline: none;
  display: flex;
  position: relative;
  width: 500px;
  font-family: "Muli", sans-serif;
  font-size: 18px;
  color: black;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: #7fbdda 0px 0px 5px, #7fbdda 0px 0px 10px, #7fbdda 0px 0px 15px,
    #7fbdda 0px 0px 20px, #7fbdda 0px 0px 30px, #7fbdda 0px 0px 40px,
    #7fbdda 0px 0px 50px, #7fbdda 0px 0px 75px;
  z-index: 990;
}

.contactInputMessage {
  cursor: text;
  outline: none;
  display: flex;
  position: relative;
  width: 600px;
  height: 350px;
  font-family: "Muli", sans-serif;
  font-size: 18px;
  color: black;
  margin-bottom: 20px;
  border-radius: 10px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
  box-shadow: #7fbdda 0px 0px 5px, #7fbdda 0px 0px 10px, #7fbdda 0px 0px 15px,
    #7fbdda 0px 0px 20px, #7fbdda 0px 0px 30px, #7fbdda 0px 0px 40px,
    #7fbdda 0px 0px 50px, #7fbdda 0px 0px 75px;
  z-index: 990;
}

.submitBtnContainer {
  display: flex;
  position: relative;
  align-items: center;
}

.contactSubmitButton {
  cursor: pointer;
  outline: none;
  height: 35px;
  width: 105px;
  outline: none;
  z-index: 997;
  background-color: rgb(26, 124, 236);
  border-radius: 7px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0.75px 0.75px 0 #ffffff, 0.75px -0.75px 0 #ffffff,
    -0.75px 0.75px 0 #ffffff, -0.75px -0.75px 0 #ffffff, 0.75px 0px 0 #ffffff,
    0px 0.75px 0 #ffffff, -0.75px 0px 0 #ffffff, 0px -0.75px 0 #ffffff;
}

.contactSubmitButton:active {
  box-shadow: #e0e0e0 1px 1px 0;
}

.userProfilePageMainContainer {
  display: flex;
  position: relative;
  width: 100vw;
  height: calc(100vh - 48px);
  top: 48px;
}

.userProfilePageContainer1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  /* align-content: space-between; */
}

.userProfilePageContainer2 {
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  /* align-content: space-between; */
}

.buttonsContainer {
  width: 100%;
  height: 55px;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 990;
  top: 25px;
}

.editBtnContainer {
  display: flex;
  position: relative;
}

.editProfileBtn {
  display: flex;
  position: relative;
  z-index: 997;
  width: 120px;
  height: 55px;
  outline: none;
  cursor: pointer;
  background-color: rgb(47, 255, 47);
  border-radius: 7px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.editProfileBtn:active {
  box-shadow: #e0e0e0 1px 1px 0;
}

.saveProfileBtnContainer {
  display: flex;
  position: relative;
}

.saveProfileBtn {
  display: flex;
  position: relative;
  z-index: 997;
  outline: none;
  cursor: pointer;
  background-color: rgb(47, 255, 47);
  width: 120px;
  height: 55px;
  border-radius: 7px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.saveProfileBtn:active {
  box-shadow: #e0e0e0 1px 1px 0;
}

.cancelEditBtnContainer {
  display: flex;
  position: relative;
}

.cancelEditBtn {
  display: flex;
  position: relative;
  z-index: 997;
  width: 120px;
  height: 55px;
  outline: none;
  cursor: pointer;
  background-color: rgb(255, 187, 0);
  border-radius: 7px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.cancelEditBtn:active {
  box-shadow: #e0e0e0 1px 1px 0;
}

.deleteUserBtnContainer {
  display: flex;
  position: relative;
}

.deleteUserBtn {
  display: flex;
  position: relative;
  z-index: 997;
  width: 120px;
  height: 55px;
  outline: none;
  cursor: pointer;
  background-color: rgb(255, 0, 0);
  border-radius: 7px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.deleteUserBtn:active {
  box-shadow: #e0e0e0 1px 1px 0;
}

.userProfileContainer {
  width: 100%;
  /* height: calc(100% - 48px); */
  top: 70px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-items: center;
  z-index: 990;
  margin: 0 auto;
}

.userPicInfoContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  margin: 0 auto;
}

.userProfilePicContainer {
  max-width: 400px;
  height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #7fbdda;
  box-shadow: #7fbdda 0px 0px 5px, #7fbdda 0px 0px 10px, #7fbdda 0px 0px 15px,
    #7fbdda 0px 0px 20px, #7fbdda 0px 0px 30px, #7fbdda 0px 0px 40px,
    #7fbdda 0px 0px 50px, #7fbdda 0px 0px 75px;
}

.userProfilePic {
  width: 100%;
  display: flex;
  position: relative;
  border-radius: 15px;
  z-index: 997;
}

.userProfileInfoContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #7fbdda;
  box-shadow: #7fbdda 0px 0px 5px, #7fbdda 0px 0px 10px, #7fbdda 0px 0px 15px,
    #7fbdda 0px 0px 20px, #7fbdda 0px 0px 30px, #7fbdda 0px 0px 40px,
    #7fbdda 0px 0px 50px, #7fbdda 0px 0px 75px;
}

.userInfoContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: left;
  align-content: space-between;
}

.usernameContainer {
  display: flex;
  position: relative;
  margin-top: 30px;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.firstNameContainer {
  display: flex;
  position: relative;
  margin-top: 30px;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.lastNameContainer {
  display: flex;
  position: relative;
  margin-top: 30px;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.emailContainer {
  display: flex;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.imageUrlContainer {
  display: flex;
  position: relative;
  margin-bottom: 30px;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.userP1 {
  display: flex;
  position: relative;
  z-index: 997;
  font-family: "Muli", sans-serif;
  font-size: 30px;
  color: black;
  letter-spacing: 3px;
  text-shadow: 1.25px 1.25px 0 #ffffff, 1.25px -1.25px 0 #ffffff,
    -1.25px 1.25px 0 #ffffff, -1.25px -1.25px 0 #ffffff, 1.25px 0px 0 #ffffff,
    0px 1.25px 0 #ffffff, -1.25px 0px 0 #ffffff, 0px -1.25px 0 #ffffff;
}

.userP2 {
  display: flex;
  position: relative;
  z-index: 997;
  font-family: "Muli", sans-serif;
  font-size: 30px;
  color: black;
  letter-spacing: 3px;
  text-transform: capitalize;
  text-shadow: 1.25px 1.25px 0 #ffffff, 1.25px -1.25px 0 #ffffff,
    -1.25px 1.25px 0 #ffffff, -1.25px -1.25px 0 #ffffff, 1.25px 0px 0 #ffffff,
    0px 1.25px 0 #ffffff, -1.25px 0px 0 #ffffff, 0px -1.25px 0 #ffffff;
}

.userP3 {
  display: flex;
  position: relative;
  z-index: 997;
  font-family: "Muli", sans-serif;
  font-size: 30px;
  color: black;
  letter-spacing: 3px;
  text-transform: capitalize;
  text-shadow: 1.25px 1.25px 0 #ffffff, 1.25px -1.25px 0 #ffffff,
    -1.25px 1.25px 0 #ffffff, -1.25px -1.25px 0 #ffffff, 1.25px 0px 0 #ffffff,
    0px 1.25px 0 #ffffff, -1.25px 0px 0 #ffffff, 0px -1.25px 0 #ffffff;
}

.bioContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 5px auto 0 auto;
  border-radius: 10px;
  background-color: #7fbdda;
  box-shadow: #7fbdda 0px 0px 5px, #7fbdda 0px 0px 10px, #7fbdda 0px 0px 15px,
    #7fbdda 0px 0px 20px, #7fbdda 0px 0px 30px, #7fbdda 0px 0px 40px,
    #7fbdda 0px 0px 50px, #7fbdda 0px 0px 75px;
}

.userP4 {
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 997;
  margin-bottom: 10px;
  font-family: "Muli", sans-serif;
  font-size: 30px;
  color: black;
  letter-spacing: 3px;
  text-shadow: 1.25px 1.25px 0 #ffffff, 1.25px -1.25px 0 #ffffff,
    -1.25px 1.25px 0 #ffffff, -1.25px -1.25px 0 #ffffff, 1.25px 0px 0 #ffffff,
    0px 1.25px 0 #ffffff, -1.25px 0px 0 #ffffff, 0px -1.25px 0 #ffffff;
}

.editUserInput1 {
  cursor: text;
  outline: none;
  display: flex;
  position: relative;
  width: 300px;
  font-family: "Muli", sans-serif;
  font-size: 18px;
  color: black;
  text-align: center;
  border-radius: 10px;
  z-index: 997;
}

.editUserInput2 {
  cursor: text;
  outline: none;
  display: flex;
  position: relative;
  width: 600px;
  height: 200px;
  margin-bottom: 25px;
  font-family: "Muli", sans-serif;
  font-size: 18px;
  color: black;
  border-radius: 10px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
  box-shadow: #7fbdda 0px 0px 5px, #7fbdda 0px 0px 10px, #7fbdda 0px 0px 15px,
    #7fbdda 0px 0px 20px, #7fbdda 0px 0px 30px, #7fbdda 0px 0px 40px,
    #7fbdda 0px 0px 50px, #7fbdda 0px 0px 75px;
  z-index: 997;
}

.editUserP1 {
  display: flex;
  position: relative;
  z-index: 997;
  font-family: "Muli", sans-serif;
  font-size: 20px;
  color: black;
  letter-spacing: 2px;
  margin-right: 10px;
  text-shadow: 1.25px 1.25px 0 #ffffff, 1.25px -1.25px 0 #ffffff,
    -1.25px 1.25px 0 #ffffff, -1.25px -1.25px 0 #ffffff, 1.25px 0px 0 #ffffff,
    0px 1.25px 0 #ffffff, -1.25px 0px 0 #ffffff, 0px -1.25px 0 #ffffff;
}

.editUserP2 {
  display: flex;
  position: relative;
  z-index: 997;
  /* margin-top: 20px; */
  margin-bottom: 10px;
  font-family: "Muli", sans-serif;
  font-size: 20px;
  color: black;
  letter-spacing: 2px;
  text-shadow: 1.25px 1.25px 0 #ffffff, 1.25px -1.25px 0 #ffffff,
    -1.25px 1.25px 0 #ffffff, -1.25px -1.25px 0 #ffffff, 1.25px 0px 0 #ffffff,
    0px 1.25px 0 #ffffff, -1.25px 0px 0 #ffffff, 0px -1.25px 0 #ffffff;
}

@media only screen and (min-width: 1301px) and (max-width: 1350px) {
  .animalProfileModal {
    top: 10%;
    left: 10%;
  }
}

@media only screen and (min-width: 1251px) and (max-width: 1300px) {
  .animalProfileModal {
    top: 8%;
    left: 8%;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1250px) {
  .animalProfileModal {
    top: 7%;
    left: 6%;
  }
}

@media only screen and (min-width: 1176px) and (max-width: 1200px) {
  .animalProfileModal {
    top: 5%;
    left: 4%;
  }
}

@media only screen and (min-width: 1151px) and (max-width: 1175px) {
  .animalProfileModal {
    top: 5%;
    left: 2%;
  }
}

@media only screen and (min-width: 1126px) and (max-width: 1150px) {
  .animalProfileModal {
    top: 5%;
    left: 1%;
  }
}

@media only screen and (min-width: 961px) and (max-width: 1125px) {
  .animalProfileModal {
    top: 5%;
    left: 0%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1100px) {
  .siteName {
    font-size: 40px;
  }
}

@media only screen and (min-width: 961px) and (max-width: 1100px) {
  .singleAnimalContainer {
    width: 300px;
    margin-top: 15px;
    border-radius: 10px;
  }

  .miniAnimalImage {
    width: 300px;
    min-height: 250px;
    max-height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .animalInfoContainer {
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .miniAnimalInfo1 {
    font-size: 22px;
  }

  .miniAnimalInfo2 {
    font-size: 22px;
    margin-top: 5px;
  }
}

@media only screen and (min-width: 961px) {
  .dropDownBtnContainer,
  .showDropDownMenu,
  .hideDropDownMenu {
    display: none;
  }
}

@media only screen and (max-width: 960px) {
  header {
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .siteNameContainer {
    left: 0px;
    width: 100%;
    justify-content: center;
    background: black;
  }

  .menu {
    display: none;
  }

  .siteContentsContainer {
    width: 100%;
    /* height: calc(100% - 40px); */
    top: 40px;
  }

  .dropDownBtnContainer {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 999;
  }

  .dropDownMenuBtn {
    width: 100%;
    cursor: pointer;
    background-color: #4f8edb;
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    border: none;
    outline: none;
  }

  .showDropDownMenu {
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    z-index: 997;
    width: 100vw;
    top: 38px;
    transition: 0.75s;
    transform: translate(0, 40px);
  }

  .showDropDownMenu ul {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: black;
    padding-bottom: 10px;
  }

  .showDropDownMenu ul li {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }

  .showDropDownMenu ul li a {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #4f8edb;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    outline: none;
  }

  .hideDropDownMenu {
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    z-index: 997;
    top: 32px;
    transform: translate(0, -200px);
    transition: 0.75s;
  }

  .hideDropDownMenu ul {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: black;
    padding-bottom: 10px;
  }

  .hideDropDownMenu ul li {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }

  .hideDropDownMenu ul li a {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #4f8edb;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    outline: none;
  }

  .dropDownLogBtnContainer {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    background-color: black;
  }

  .dropDownLoginBtn {
    width: 100%;
    background-color: rgb(47, 255, 47);
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    border: none;
    outline: none;
  }

  .dropDownLogoutBtn {
    width: 100%;
    background-color: red;
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    border: none;
    outline: none;
  }

  .homepageContainer {
    top: 300px;
    width: 100vw;
    height: calc(100% - 60px);
  }

  .adoptionPage {
    min-height: 100vh;
    display: initial;
    top: 75px;
    overflow: scroll;
  }

  .animalProfileModal {
    left: 0px;
  }

  .animalProfilePicContainer {
    min-height: 350px;
    display: flex;
    justify-items: center;
  }

  .profileAnimalImage {
    width: 350px;
    min-height: 350px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .filterMenuContainer {
    flex-wrap: wrap-reverse;
    top: 10px;
  }

  .adoptFilterBtn {
    margin-left: 0px;
    margin-top: 25px;
    height: 40px;
    width: 125px;
    font-size: 24px;
  }

  .filterP {
    font-size: 24px;
  }

  .dropDownFilter {
    font-size: 18px;
  }

  .filterOption1 {
    font-size: 18px;
  }

  .adoptBtnsContainer1 {
    top: 0px;
    z-index: 980;
  }

  .adoptBtnsContainer2 {
    bottom: 5px;
    z-index: 980;
  }

  .adoptBtns {
    height: 40px;
    width: 125px;
    font-size: 24px;
  }

  .animalsContainer {
    position: initial;
    top: 25px;
    margin-bottom: 15px;
  }

  .singleAnimalContainer {
    width: 250px;
    margin-top: 15px;
    border-radius: 10px;
  }

  .animalImageContainer {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .miniAnimalImage {
    width: 250px;
    min-height: 250px;
    max-height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .animalInfoContainer {
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .miniAnimalInfo1 {
    font-size: 22px;
  }

  .miniAnimalInfo2 {
    font-size: 22px;
    margin-top: 5px;
  }

  .donationFormContainer {
    top: 100px;
  }

  .donateP1 {
    z-index: 995;
  }

  .donateP2 {
    z-index: 995;
  }

  .donateInput {
    font-size: 24px;
  }

  .donateInputMessage {
    font-size: 24px;
  }

  .contactFormContainer {
    top: 100px;
  }

  .contactP1 {
    z-index: 995;
  }

  .contactP2 {
    z-index: 995;
  }

  .contactInput,
  .contactInputSubject,
  .contactInputMessage {
    font-size: 24px;
  }

  .contactSubmitButton {
    height: 40px;
    width: 125px;
    font-size: 24px;
  }

  .userProfilePageMainContainer {
    display: flex;
    position: initial;
    width: 100%;
    height: 100%;
  }

  .userProfilePageContainer1 {
    position: relative;
    height: 100%;
    top: 110px;
  }

  .userProfilePageContainer2 {
    top: 110px;
    position: relative;
    height: 100%;
    /* top: 110px; */
  }

  .buttonsContainer {
    height: 65px;
    top: 15px;
    margin: 0 auto;
  }

  .editProfileBtn {
    height: 65px;
    width: 145px;
    font-size: 24px;
    margin: 0px;
  }

  .saveProfileBtn {
    height: 65px;
    width: 145px;
    font-size: 24px;
  }

  .cancelEditBtn {
    height: 65px;
    width: 145px;
    font-size: 24px;
  }

  .deleteUserBtn {
    height: 65px;
    width: 145px;
    font-size: 24px;
  }

  .userPicInfoContainer {
    width: 100%;
    flex-direction: column;
    top: 0px;
  }

  .userProfilePicContainer {
    width: 100%;
    height: 300px;
    flex-direction: row;
    margin: 0 auto;
  }

  .userProfilePic {
    width: 300px;
    min-height: 300px;
    max-height: 300px;
  }

  .userProfileInfoContainer {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 20px;
  }

  .bioContainer {
    flex-direction: row;
    margin: 5px auto 0 auto;
    border-radius: 10px;
    background-color: #7fbdda;
    box-shadow: #7fbdda 0px 0px 5px, #7fbdda 0px 0px 10px, #7fbdda 0px 0px 15px,
      #7fbdda 0px 0px 20px, #7fbdda 0px 0px 30px, #7fbdda 0px 0px 40px,
      #7fbdda 0px 0px 50px, #7fbdda 0px 0px 75px;
  }

  .editUserInput1 {
    width: 445px;
    font-size: 24px;
  }

  .editUserInput2 {
    height: 175px;
    font-size: 24px;
  }

  .editUserP2 {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 415px) {
  header {
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .siteName {
    font-size: 30px;
  }

  .siteContentsContainer {
    top: 20px;
  }

  .mainDisplay {
    width: 100vw;
    height: 100vh;
  }

  .dropDownMenuBtn {
    width: 100%;
    cursor: pointer;
    background-color: #4f8edb;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    border: none;
    outline: none;
  }

  .showDropDownMenu {
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    z-index: 997;
    width: 100vw;
    top: 18px;
    transition: 0.75s;
    transform: translate(0, 40px);
  }

  .showDropDownMenu ul {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: black;
    padding-bottom: 8px;
  }

  .showDropDownMenu ul li {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }

  .showDropDownMenu ul li a {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #4f8edb;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    outline: none;
  }

  .hideDropDownMenu {
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    z-index: 997;
    top: 32px;
    transform: translate(0, -200px);
    transition: 0.75s;
  }

  .hideDropDownMenu ul {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: black;
    padding-bottom: 10px;
  }

  .hideDropDownMenu ul li a {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #4f8edb;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    outline: none;
  }

  .dropDownLoginBtn {
    width: 100%;
    background-color: rgb(47, 255, 47);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    border: none;
    outline: none;
  }

  .dropDownLogoutBtn {
    width: 100%;
    background-color: red;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    border: none;
    outline: none;
  }

  .homepageContainer {
    top: 0px;
    /* width: 100vw; */
    height: 100vh;
  }

  svg {
    width: 300px;
    height: 300px;
    display: flex;
    position: absolute;
    z-index: 990;
    justify-content: center;
  }

  path {
    width: 100%;
    fill: transparent;
    overflow: visible;
    z-index: 999;
    display: flex;
    position: relative;
    justify-content: center;
  }

  .curvedText {
    font-size: 39px;
    overflow: visible;
    text-align: center;
  }

  .gifContainer {
    height: 300px;
    width: 300px;
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
  }

  .adoptionPage {
    min-height: 100vh;
    width: 100%;
    top: 50px;
    overflow: scroll;
  }

  .animalProfileModal {
    left: 0px;
  }

  .animalProfileContainer {
    max-height: 90vh;
    flex-direction: column;
    top: 0px;
  }

  .animalProfilePicContainer {
    min-height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .profileAnimalImage {
    width: 250px;
    min-height: 250px;
    max-height: 275px;
    border-radius: 15px;
  }

  .animalProfileInfoContainer {
    font-size: 22px;
  }

  .animalProfileInfoContainer > p {
    margin: 5px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .animalProfileShelterContainer {
    font-size: 22px;
    margin-top: 15px;
  }

  .animalProfileShelterContainer > p {
    margin: 5px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .shelterAddressContainer {
    font-size: 22px;
  }

  .shelterAddressContainer > p {
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .filterContainer {
    font: 12px;
    margin: 10px;
  }

  .filterMenuContainer {
    flex-wrap: wrap-reverse;
    top: 0px;
    justify-content: center;
  }

  .adoptFilterBtn {
    height: 35px;
    width: 100px;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .filterP {
    font-size: 18px;
  }

  .dropDownFilter {
    font-size: 16px;
    height: 24;
    width: 100px;
  }

  .filterOption1 {
    width: 100px;
    font-size: 16px;
    text-overflow: ellipsis;
  }

  .adoptBtnsContainer1 {
    top: 0px;
    z-index: 980;
    padding-top: 15px;
  }

  .adoptBtnsContainer2 {
    bottom: 5px;
    z-index: 980;
  }

  .adoptBtns {
    margin-left: 25px;
    margin-right: 25px;
    height: 35px;
    width: 100px;
    font-size: 18px;
  }

  .animalsContainer {
    position: initial;
    top: 25px;
    margin-bottom: 15px;
    justify-content: center;
  }

  .singleAnimalContainer {
    width: 175px;
    margin-top: 15px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 7px;
  }

  .animalImageContainer {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .miniAnimalImage {
    width: 175px;
    min-height: 175px;
    max-height: 175px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  .animalInfoContainer {
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
  }

  .miniAnimalInfo1 {
    font-size: 16px;
  }

  .miniAnimalInfo2 {
    font-size: 18px;
    margin-top: 5px;
  }

  .donationFormContainer {
    justify-content: center;
    width: 100%;
    top: 60px;
  }

  .donatorInfoContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }

  .donatorInfoContainer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .donateP1 {
    z-index: 995;
    font-size: 20px;
  }

  .donateP2 {
    z-index: 995;
    font-size: 20px;
  }

  .donateInput {
    width: 360px;
    font-size: 20px;
    border-radius: 7px;
  }

  .donateInputMessage {
    width: 360px;
    height: 150px;
    font-size: 20px;
    border-radius: 7px;
  }

  .warningTextContainer {
    width: 360px;
    margin: 20px auto 0px auto;
  }

  .warningText1,
  .warningText2 {
    font-size: 18px;
  }

  .contactFormContainer {
    height: calc(100vh - 60px);
    top: 60px;
  }

  .messageContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0 auto;
  }

  .contactP1 {
    z-index: 995;
    margin-top: 10px;
    font-size: 20px;
  }

  .contactP2 {
    margin-top: 10px;
    z-index: 995;
    font-size: 20px;
  }

  .contactInput,
  .contactInputSubject {
    width: 360px;
    font-size: 20px;
    border-radius: 7px;
  }

  .contactInputMessage {
    width: 360px;
    height: 250px;
    font-size: 20px;
    border-radius: 7px;
  }

  .submitBtnContainer {
    justify-content: center;
  }

  .contactSubmitButton {
    height: 35px;
    width: 100px;
    font-size: 18px;
    margin: 10px auto 0px auto;
    z-index: 995;
  }

  .userProfilePageContainer1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    /* align-content: space-between; */
  }

  .userProfilePageContainer2 {
    top: 85px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    /* align-content: space-between; */
  }

  .buttonsContainer {
    width: 100%;
    height: 55px;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 990;
    top: 0px;
  }

  .editBtnContainer {
    display: flex;
    position: relative;
  }

  .editProfileBtn {
    display: flex;
    position: relative;
    z-index: 997;
    width: 100px;
    height: 55px;
    outline: none;
    cursor: pointer;
    background-color: rgb(47, 255, 47);
    border-radius: 7px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .editProfileBtn:active {
    box-shadow: #e0e0e0 1px 1px 0;
  }

  .saveProfileBtnContainer {
    display: flex;
    position: relative;
  }

  .saveProfileBtn {
    display: flex;
    position: relative;
    z-index: 997;
    outline: none;
    cursor: pointer;
    background-color: rgb(47, 255, 47);
    width: 115px;
    height: 55px;
    border-radius: 7px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .saveProfileBtn:active {
    box-shadow: #e0e0e0 1px 1px 0;
  }

  .cancelEditBtnContainer {
    display: flex;
    position: relative;
  }

  .cancelEditBtn {
    display: flex;
    position: relative;
    z-index: 997;
    width: 115px;
    height: 55px;
    outline: none;
    cursor: pointer;
    background-color: rgb(255, 187, 0);
    border-radius: 7px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .cancelEditBtn:active {
    box-shadow: #e0e0e0 1px 1px 0;
  }

  .deleteUserBtnContainer {
    display: flex;
    position: relative;
  }

  .deleteUserBtn {
    display: flex;
    position: relative;
    z-index: 997;
    width: 115px;
    height: 55px;
    outline: none;
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    border-radius: 7px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .deleteUserBtn:active {
    box-shadow: #e0e0e0 1px 1px 0;
  }

  .userProfileContainer {
    /* width: 100%; */
    /* height: calc(100% - 48px); */
    top: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-items: center;
    z-index: 990;
    margin: 0 auto;
  }

  .userPicInfoContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0 auto;
    top: 20px;
  }

  .userProfilePicContainer {
    max-width: 175px;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #7fbdda;
    box-shadow: #7fbdda 0px 0px 5px, #7fbdda 0px 0px 10px, #7fbdda 0px 0px 15px,
      #7fbdda 0px 0px 20px, #7fbdda 0px 0px 30px, #7fbdda 0px 0px 40px,
      #7fbdda 0px 0px 50px, #7fbdda 0px 0px 75px;
  }

  .userProfilePic {
    width: 175px;
    min-height: 175px;
    max-height: 175px;
    display: flex;
    position: relative;
    border-radius: 15px;
    z-index: 997;
  }

  .userProfileInfoContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 75px;
    border-radius: 10px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 auto;
    background-color: #7fbdda;
    box-shadow: #7fbdda 0px 0px 5px, #7fbdda 0px 0px 10px, #7fbdda 0px 0px 15px,
      #7fbdda 0px 0px 20px, #7fbdda 0px 0px 30px, #7fbdda 0px 0px 40px,
      #7fbdda 0px 0px 50px, #7fbdda 0px 0px 75px;
  }

  .userInfoContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: left;
    align-content: space-between;
  }

  .usernameContainer {
    display: flex;
    position: relative;
    margin-top: 20px;
    flex-direction: column;
    justify-content: left;
    align-items: center;
  }

  .firstNameContainer {
    display: flex;
    position: relative;
    margin-top: 20px;
    flex-direction: column;
    justify-content: left;
    align-items: center;
  }

  .lastNameContainer {
    display: flex;
    position: relative;
    margin-top: 20px;
    flex-direction: column;
    justify-content: left;
    align-items: center;
  }

  .emailContainer {
    display: flex;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: left;
    align-items: center;
  }

  .imageUrlContainer {
    display: flex;
    position: relative;
    margin-bottom: 75px;
    flex-direction: column;
    justify-content: left;
    align-items: center;
  }

  .userP1 {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    text-align: center;
    z-index: 997;
    font-family: "Muli", sans-serif;
    font-size: 20px;
    color: black;
    letter-spacing: 3px;
    text-shadow: 1.25px 1.25px 0 #ffffff, 1.25px -1.25px 0 #ffffff,
      -1.25px 1.25px 0 #ffffff, -1.25px -1.25px 0 #ffffff, 1.25px 0px 0 #ffffff,
      0px 1.25px 0 #ffffff, -1.25px 0px 0 #ffffff, 0px -1.25px 0 #ffffff;
  }

  .userP2 {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    z-index: 997;
    font-family: "Muli", sans-serif;
    font-size: 20px;
    text-align: center;
    color: black;
    letter-spacing: 3px;
    text-transform: capitalize;
    text-shadow: 1.25px 1.25px 0 #ffffff, 1.25px -1.25px 0 #ffffff,
      -1.25px 1.25px 0 #ffffff, -1.25px -1.25px 0 #ffffff, 1.25px 0px 0 #ffffff,
      0px 1.25px 0 #ffffff, -1.25px 0px 0 #ffffff, 0px -1.25px 0 #ffffff;
  }

  .userP3 {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    z-index: 997;
    font-family: "Muli", sans-serif;
    text-align: center;
    font-size: 20px;
    color: black;
    letter-spacing: 3px;
    text-transform: capitalize;
    text-shadow: 1.25px 1.25px 0 #ffffff, 1.25px -1.25px 0 #ffffff,
      -1.25px 1.25px 0 #ffffff, -1.25px -1.25px 0 #ffffff, 1.25px 0px 0 #ffffff,
      0px 1.25px 0 #ffffff, -1.25px 0px 0 #ffffff, 0px -1.25px 0 #ffffff;
  }

  .bioContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px auto 5px auto;
    top: 90px;
    border-radius: 10px;
    background-color: #7fbdda;
    box-shadow: #7fbdda 0px 0px 5px, #7fbdda 0px 0px 10px, #7fbdda 0px 0px 15px,
      #7fbdda 0px 0px 20px, #7fbdda 0px 0px 30px, #7fbdda 0px 0px 40px,
      #7fbdda 0px 0px 50px, #7fbdda 0px 0px 75px;
  }

  .userP4 {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 997;
    margin-bottom: 10px;
    font-family: "Muli", sans-serif;
    text-align: center;
    font-size: 20px;
    color: black;
    letter-spacing: 3px;
    text-shadow: 1.25px 1.25px 0 #ffffff, 1.25px -1.25px 0 #ffffff,
      -1.25px 1.25px 0 #ffffff, -1.25px -1.25px 0 #ffffff, 1.25px 0px 0 #ffffff,
      0px 1.25px 0 #ffffff, -1.25px 0px 0 #ffffff, 0px -1.25px 0 #ffffff;
  }

  .editUserInput1 {
    display: flex;
    position: relative;
    width: 360px;
    font-family: "Muli", sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
    border-radius: 10px;
    z-index: 996;
  }

  .editUserInput2 {
    display: flex;
    position: relative;
    width: 360px;
    height: 175px;
    margin-bottom: 10px;
    font-family: "Muli", sans-serif;
    font-size: 20px;
    color: black;
    border-radius: 10px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    box-shadow: #7fbdda 0px 0px 5px, #7fbdda 0px 0px 10px, #7fbdda 0px 0px 15px,
      #7fbdda 0px 0px 20px, #7fbdda 0px 0px 30px, #7fbdda 0px 0px 40px,
      #7fbdda 0px 0px 50px, #7fbdda 0px 0px 75px;
    z-index: 996;
  }

  .editUserP1 {
    display: flex;
    position: relative;
    z-index: 997;
    font-family: "Muli", sans-serif;
    font-size: 20px;
    color: black;
    letter-spacing: 2px;
    margin-right: 10px;
    text-shadow: 1.25px 1.25px 0 #ffffff, 1.25px -1.25px 0 #ffffff,
      -1.25px 1.25px 0 #ffffff, -1.25px -1.25px 0 #ffffff, 1.25px 0px 0 #ffffff,
      0px 1.25px 0 #ffffff, -1.25px 0px 0 #ffffff, 0px -1.25px 0 #ffffff;
  }

  .editUserP2 {
    display: flex;
    position: relative;
    z-index: 997;
    /* margin-top: 20px; */
    margin-bottom: 10px;
    font-family: "Muli", sans-serif;
    font-size: 20px;
    color: black;
    letter-spacing: 2px;
    text-shadow: 1.25px 1.25px 0 #ffffff, 1.25px -1.25px 0 #ffffff,
      -1.25px 1.25px 0 #ffffff, -1.25px -1.25px 0 #ffffff, 1.25px 0px 0 #ffffff,
      0px 1.25px 0 #ffffff, -1.25px 0px 0 #ffffff, 0px -1.25px 0 #ffffff;
  }
}
