.App {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

body {
  width: 100%;
  height: 100%;
  background-image: url("./images/pawprint-background.png");
  background-color: rgb(127, 189, 218);
  background-attachment: fixed;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainDisplay {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

header {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(37, 42, 49);
  position: fixed;
  z-index: 999;
}

.siteNameContainer {
  display: flex;
  position: relative;
  left: 7px;
}

.siteName {
  font-family: "Baloo", cursive;
  font-size: 54px;
  font-weight: bold;
  letter-spacing: 4px;
  color: rgb(255, 255, 255);
}

.loginLogoutBtnContainer {
  display: flex;
  position: relative;
}

.loginButton {
  height: 30px;
  background-color: rgb(47, 255, 47);
  border-radius: 7px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 14px;
}

.loginButton:active {
  box-shadow: #e0e0e0 1px 1px 0;
}

.logoutButton {
  height: 30px;
  background-color: rgb(255, 0, 0);
  border-radius: 7px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 14px;
}

.logoutButton:active {
  box-shadow: #e0e0e0 1px 1px 0;
}

.menu {
  display: flex;
  position: relative;
  align-items: center;
}

.navLinks {
  font-family: sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 7px;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}

.active {
  color: rgb(49, 145, 255);
  text-shadow: -0.5px 0.5px 1.5px rgb(255, 255, 255),
    1px 1px 1px rgba(0, 0, 0, 0.5);
}

.homepageContainer {
  width: 100vw;
  height: calc(100vh - 48px);
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 48px;
}

.welcomeBannerContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

svg {
  width: 500px;
  height: 500px;
  display: flex;
  position: absolute;
  z-index: 990;
  justify-content: center;
}

path {
  width: 100%;
  fill: transparent;
  overflow: visible;
  z-index: 999;
  display: flex;
  position: relative;
  justify-content: center;
}

.curvedText {
  font-size: 43.35px;
  overflow: visible;
  text-align: center;
}

.gifContainer {
  height: 500px;
  width: 500px;
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
}

.dogGif {
  width: 100%;
  height: auto;
  border-radius: 50%;
  display: flex;
  position: relative;
  box-shadow: #7fbdda 0px 0px 5px, #7fbdda 0px 0px 10px, #7fbdda 0px 0px 15px,
    #7fbdda 0px 0px 20px, #7fbdda 0px 0px 30px, #7fbdda 0px 0px 40px,
    #7fbdda 0px 0px 50px, #7fbdda 0px 0px 75px;
}

.animalsContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  top: 60px;
  padding-bottom: 15px;
}

.animalProfileLink {
  text-decoration: none;
}

.singleAnimalContainer {
  background-color: rgb(233, 196, 196);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  margin-top: 15px;
}

.animalImageContainer {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.miniAnimalImage {
  width: 450px;
  min-height: 450px;
  max-height: 450px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.animalInfoContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.miniInfo1 {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.miniInfo2 {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.miniAnimalInfo1 {
  font-family: "Muli", sans-serif;
  font-size: 25px;
  text-align: center;
  letter-spacing: 1px;
  color: black;
}

.miniAnimalInfo2 {
  font-family: "Muli", sans-serif;
  font-size: 25px;
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 1px;
  color: black;
}

.animalProfileContainer {
  max-height: 90vh;
  top: 60px;
  background-color: rgb(233, 196, 196);
  border-radius: 15px;
  position: relative;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
}

.animalProfilePicContainer {
  min-height: 500px;
  display: flex;
  justify-items: center;
}

.profileAnimalImage {
  width: 500px;
  min-height: 500px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.animalProfileInfoContainer {
  font-family: "Muli", sans-serif;
  font-size: 25px;
  text-align: left;
  letter-spacing: 1px;
  color: black;
  padding: 10px;
}

.animalProfileInfoContainer > p {
  margin-top: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

.animalProfileShelterContainer {
  font-family: "Muli", sans-serif;
  font-size: 25px;
  text-align: left;
  letter-spacing: 1px;
  color: black;
}

.animalProfileShelterContainer > p {
  margin-top: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

.shelterAddressContainer {
  font-family: "Muli", sans-serif;
  font-size: 25px;
  text-align: left;
  letter-spacing: 1px;
  color: black;
}

.shelterAddressContainer > p {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.donationFormContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  top: 60px;
  padding-bottom: 15px;
}

.donationContainer {
  color: red;
  font-size: 40px;
}

.donateP1 {
  display: flex;
  position: relative;
  font-family: "Muli", sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  letter-spacing: 1.75px;
  color: black;
  text-shadow: 1.25px 1.25px 0 #ffffff, 1.25px -1.25px 0 #ffffff,
    -1.25px 1.25px 0 #ffffff, -1.25px -1.25px 0 #ffffff, 1.25px 0px 0 #ffffff,
    0px 1.25px 0 #ffffff, -1.25px 0px 0 #ffffff, 0px -1.25px 0 #ffffff;
  margin-bottom: 4px;
  z-index: 999;
}

.donateP2 {
  display: flex;
  position: relative;
  font-family: "Muli", sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  letter-spacing: 1.75px;
  color: black;
  text-shadow: 1.25px 1.25px 0 #ffffff, 1.25px -1.25px 0 #ffffff,
    -1.25px 1.25px 0 #ffffff, -1.25px -1.25px 0 #ffffff, 1.25px 0px 0 #ffffff,
    0px 1.25px 0 #ffffff, -1.25px 0px 0 #ffffff, 0px -1.25px 0 #ffffff;
  margin-bottom: 8px;
  z-index: 999;
}

.donateInput {
  display: flex;
  position: relative;
  width: 600px;
  font-family: "Muli", sans-serif;
  font-size: 18px;
  color: black;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: #7fbdda 0px 0px 5px, #7fbdda 0px 0px 10px, #7fbdda 0px 0px 15px,
    #7fbdda 0px 0px 20px, #7fbdda 0px 0px 30px, #7fbdda 0px 0px 40px,
    #7fbdda 0px 0px 50px, #7fbdda 0px 0px 75px;
  z-index: 990;
}

.donateInputMessage {
  display: flex;
  position: relative;
  width: 600px;
  height: 175px;
  font-family: "Muli", sans-serif;
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
  border-radius: 10px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
  box-shadow: #7fbdda 0px 0px 5px, #7fbdda 0px 0px 10px, #7fbdda 0px 0px 15px,
    #7fbdda 0px 0px 20px, #7fbdda 0px 0px 30px, #7fbdda 0px 0px 40px,
    #7fbdda 0px 0px 50px, #7fbdda 0px 0px 75px;
  z-index: 990;
}

.contactFormContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  top: 60px;
  padding-bottom: 15px;
}

.contactP1 {
  display: flex;
  position: relative;
  font-family: "Muli", sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  letter-spacing: 1.75px;
  color: black;
  text-shadow: 1.25px 1.25px 0 #ffffff, 1.25px -1.25px 0 #ffffff,
    -1.25px 1.25px 0 #ffffff, -1.25px -1.25px 0 #ffffff, 1.25px 0px 0 #ffffff,
    0px 1.25px 0 #ffffff, -1.25px 0px 0 #ffffff, 0px -1.25px 0 #ffffff;
  margin-bottom: 4px;
  z-index: 999;
}

.contactP2 {
  display: flex;
  position: relative;
  font-family: "Muli", sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  letter-spacing: 1.75px;
  color: black;
  text-shadow: 1.25px 1.25px 0 #ffffff, 1.25px -1.25px 0 #ffffff,
    -1.25px 1.25px 0 #ffffff, -1.25px -1.25px 0 #ffffff, 1.25px 0px 0 #ffffff,
    0px 1.25px 0 #ffffff, -1.25px 0px 0 #ffffff, 0px -1.25px 0 #ffffff;
  margin-bottom: 8px;
  z-index: 999;
}

.contactInput {
  display: flex;
  position: relative;
  width: 600px;
  font-family: "Muli", sans-serif;
  font-size: 18px;
  color: black;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: #7fbdda 0px 0px 5px, #7fbdda 0px 0px 10px, #7fbdda 0px 0px 15px,
    #7fbdda 0px 0px 20px, #7fbdda 0px 0px 30px, #7fbdda 0px 0px 40px,
    #7fbdda 0px 0px 50px, #7fbdda 0px 0px 75px;
  z-index: 990;
}

.contactInputSubject {
  display: flex;
  position: relative;
  width: 500px;
  font-family: "Muli", sans-serif;
  font-size: 18px;
  color: black;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: #7fbdda 0px 0px 5px, #7fbdda 0px 0px 10px, #7fbdda 0px 0px 15px,
    #7fbdda 0px 0px 20px, #7fbdda 0px 0px 30px, #7fbdda 0px 0px 40px,
    #7fbdda 0px 0px 50px, #7fbdda 0px 0px 75px;
  z-index: 990;
}

.contactInputMessage {
  display: flex;
  position: relative;
  width: 600px;
  height: 350px;
  font-family: "Muli", sans-serif;
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
  border-radius: 10px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
  box-shadow: #7fbdda 0px 0px 5px, #7fbdda 0px 0px 10px, #7fbdda 0px 0px 15px,
    #7fbdda 0px 0px 20px, #7fbdda 0px 0px 30px, #7fbdda 0px 0px 40px,
    #7fbdda 0px 0px 50px, #7fbdda 0px 0px 75px;
  z-index: 990;
}

.submitBtnContainer {
  display: flex;
  position: relative;
  align-items: center;
}

.contactSubmitButton {
  height: 35px;
  background-color: rgb(26, 124, 236);
  border-radius: 7px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0.75px 0.75px 0 #ffffff, 0.75px -0.75px 0 #ffffff,
    -0.75px 0.75px 0 #ffffff, -0.75px -0.75px 0 #ffffff, 0.75px 0px 0 #ffffff,
    0px 0.75px 0 #ffffff, -0.75px 0px 0 #ffffff, 0px -0.75px 0 #ffffff;
}

.contactSubmitButton:active {
  box-shadow: #e0e0e0 1px 1px 0;
}

.userProfilePageContainer1 {
  width: 100vw;
  height: calc(100vh - 48px);
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 48px;
}

.userProfilePageContainer2 {
  width: 100vw;
  height: calc(100vh - 48px);
  display: flex;
  position: relative;
  justify-content: center;
  align-content: space-between;
  top: 48px;
}

.buttonsContainer {
  width: 100%;
  height: 50px;
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 999;
}

.editBtnContainer {
  display: flex;
  position: relative;
}

.editProfileBtn {
  display: flex;
  position: relative;
  z-index: 999;
  height: 30px;
  background-color: rgb(47, 255, 47);
  border-radius: 7px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 14px;
}

.editProfileBtn:active {
  box-shadow: #e0e0e0 1px 1px 0;
}

.saveProfileBtnContainer {
  display: flex;
  position: relative;
}

.saveProfileBtn {
  display: flex;
  position: relative;
  z-index: 999;
  height: 30px;
  background-color: rgb(47, 255, 47);
  border-radius: 7px;
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 14px;
}

.saveProfileBtn:active {
  box-shadow: #e0e0e0 1px 1px 0;
}

.cancelEditBtnContainer {
  display: flex;
  position: relative;
}

.cancelEditBtn {
  display: flex;
  position: relative;
  z-index: 999;
  height: 30px;
  background-color: rgb(255, 187, 0);
  border-radius: 7px;
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 14px;
}

.cancelEditBtn:active {
  box-shadow: #e0e0e0 1px 1px 0;
}

.deleteUserBtnContainer {
  display: flex;
  position: relative;
}

.deleteUserBtn {
  display: flex;
  position: relative;
  z-index: 999;
  height: 30px;
  background-color: rgb(255, 0, 0);
  border-radius: 7px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 14px;
}

.deleteUserBtn:active {
  box-shadow: #e0e0e0 1px 1px 0;
}

.userProfileContainer {
  width: 100vw;
  height: calc(100% - 48px);
  top: 48px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userPicInfoContainer {
  display: flex;
  position: relative;
  flex-direction: row;
}

.userProfilePicContainer {
  max-width: 400px;
  height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #7fbdda;
  box-shadow: #7fbdda 0px 0px 5px, #7fbdda 0px 0px 10px, #7fbdda 0px 0px 15px,
    #7fbdda 0px 0px 20px, #7fbdda 0px 0px 30px, #7fbdda 0px 0px 40px,
    #7fbdda 0px 0px 50px, #7fbdda 0px 0px 75px;
}

.userProfilePic {
  width: 100%;
  display: flex;
  position: relative;
  border-radius: 15px;
  z-index: 999;
}

.userProfileInfoContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #7fbdda;
  box-shadow: #7fbdda 0px 0px 5px, #7fbdda 0px 0px 10px, #7fbdda 0px 0px 15px,
    #7fbdda 0px 0px 20px, #7fbdda 0px 0px 30px, #7fbdda 0px 0px 40px,
    #7fbdda 0px 0px 50px, #7fbdda 0px 0px 75px;
}

.userInfoContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: left;
  align-content: space-between;
}

.usernameContainer {
  display: flex;
  position: relative;
  margin-top: 15px;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.firstNameContainer {
  display: flex;
  position: relative;
  margin-top: 30px;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.lastNameContainer {
  display: flex;
  position: relative;
  margin-top: 30px;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.emailContainer {
  display: flex;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.imageUrlContainer {
  display: flex;
  position: relative;
  margin-bottom: 15px;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.userP1 {
  display: flex;
  position: relative;
  z-index: 999;
  font-family: "Muli", sans-serif;
  font-size: 30px;
  color: black;
  letter-spacing: 2px;
  margin-right: 10px;
  text-shadow: 1.25px 1.25px 0 #ffffff, 1.25px -1.25px 0 #ffffff,
    -1.25px 1.25px 0 #ffffff, -1.25px -1.25px 0 #ffffff, 1.25px 0px 0 #ffffff,
    0px 1.25px 0 #ffffff, -1.25px 0px 0 #ffffff, 0px -1.25px 0 #ffffff;
}

.userP2 {
  display: flex;
  position: relative;
  z-index: 999;
  font-family: "Muli", sans-serif;
  font-size: 30px;
  color: black;
  letter-spacing: 2px;
  text-transform: capitalize;
  /* margin-top: 30px; */
  text-shadow: 1.25px 1.25px 0 #ffffff, 1.25px -1.25px 0 #ffffff,
    -1.25px 1.25px 0 #ffffff, -1.25px -1.25px 0 #ffffff, 1.25px 0px 0 #ffffff,
    0px 1.25px 0 #ffffff, -1.25px 0px 0 #ffffff, 0px -1.25px 0 #ffffff;
}

.userP3 {
  display: flex;
  position: relative;
  z-index: 999;
  font-family: "Muli", sans-serif;
  font-size: 30px;
  color: black;
  letter-spacing: 2px;
  text-transform: capitalize;
  /* margin-top: 30px; */
  /* margin-bottom: 30px; */
  text-shadow: 1.25px 1.25px 0 #ffffff, 1.25px -1.25px 0 #ffffff,
    -1.25px 1.25px 0 #ffffff, -1.25px -1.25px 0 #ffffff, 1.25px 0px 0 #ffffff,
    0px 1.25px 0 #ffffff, -1.25px 0px 0 #ffffff, 0px -1.25px 0 #ffffff;
}

.userBioContainer {
  display: flex;
  position: relative;
  justify-content: center;
  border-radius: 10px;
  padding: 15px;
  background-color: #7fbdda;
  box-shadow: #7fbdda 0px 0px 5px, #7fbdda 0px 0px 10px, #7fbdda 0px 0px 15px,
    #7fbdda 0px 0px 20px, #7fbdda 0px 0px 30px, #7fbdda 0px 0px 40px,
    #7fbdda 0px 0px 50px, #7fbdda 0px 0px 75px;
}

.userP4 {
  display: flex;
  position: relative;
  z-index: 999;
  margin-bottom: 10px;
  font-family: "Muli", sans-serif;
  font-size: 30px;
  color: black;
  letter-spacing: 2px;
  text-shadow: 1.25px 1.25px 0 #ffffff, 1.25px -1.25px 0 #ffffff,
    -1.25px 1.25px 0 #ffffff, -1.25px -1.25px 0 #ffffff, 1.25px 0px 0 #ffffff,
    0px 1.25px 0 #ffffff, -1.25px 0px 0 #ffffff, 0px -1.25px 0 #ffffff;
}

.editUserInput1 {
  display: flex;
  position: relative;
  width: 250px;
  font-family: "Muli", sans-serif;
  font-size: 18px;
  color: black;
  text-align: center;
  border-radius: 10px;
  z-index: 990;
}

.editUserInput2 {
  display: flex;
  position: relative;
  width: 600px;
  height: 200px;
  font-family: "Muli", sans-serif;
  font-size: 18px;
  color: black;
  border-radius: 10px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
  box-shadow: #7fbdda 0px 0px 5px, #7fbdda 0px 0px 10px, #7fbdda 0px 0px 15px,
    #7fbdda 0px 0px 20px, #7fbdda 0px 0px 30px, #7fbdda 0px 0px 40px,
    #7fbdda 0px 0px 50px, #7fbdda 0px 0px 75px;
  z-index: 990;
}

.editUserP1 {
  display: flex;
  position: relative;
  z-index: 999;
  font-family: "Muli", sans-serif;
  font-size: 20px;
  color: black;
  letter-spacing: 2px;
  margin-right: 10px;
  text-shadow: 1.25px 1.25px 0 #ffffff, 1.25px -1.25px 0 #ffffff,
    -1.25px 1.25px 0 #ffffff, -1.25px -1.25px 0 #ffffff, 1.25px 0px 0 #ffffff,
    0px 1.25px 0 #ffffff, -1.25px 0px 0 #ffffff, 0px -1.25px 0 #ffffff;
}

.editUserP2 {
  display: flex;
  position: relative;
  z-index: 999;
  margin-bottom: 10px;
  font-family: "Muli", sans-serif;
  font-size: 20px;
  color: black;
  letter-spacing: 2px;
  text-shadow: 1.25px 1.25px 0 #ffffff, 1.25px -1.25px 0 #ffffff,
    -1.25px 1.25px 0 #ffffff, -1.25px -1.25px 0 #ffffff, 1.25px 0px 0 #ffffff,
    0px 1.25px 0 #ffffff, -1.25px 0px 0 #ffffff, 0px -1.25px 0 #ffffff;
}
